We received a request for a password reset for your OpenID account.

If you requested that your password be reset, you can reset your password by visiting:
  ${baseURL}/forgot/token?token=${token}

Alternatively, if you still have the page open, you can enter the following reset
token in the box:
  ${token}

If you didn't request that your password be reset, please delete this
e-mail. Your password will not be changed unless you click on the reset
password link.

Yours Sincerely,
The Identime-powered instance at ${baseURL}